packages:
  yum:
    git: []
    postgresql93: []
    postgresql93-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_loadcollegedata:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata fixtures/colleges.json"
    leader_only: true
  03_loadhighschooldata:  
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata fixtures/highschool.json"
    leader_only: true
  04_loadtestusers:  
    command: "source /opt/python/run/venv/bin/activate && python manage.py createu"
    leader_only: true
  05_loadstudentdata:  
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata fixtures/student.json"
    leader_only: true
  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    MRCESAR_SITE_ID: 2
    "STAGING_DB": "aa9uwnj0x0dwpi.cjw4oh3pw7wv.us-west-2.rds.amazonaws.com"
    "STAGING_PASS": "VgcjNG97Nz5bBW"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "prod/static/"
