{% load staticfiles %}


<div class="row">
  <div class="col-sm-4">
    <img id="softworks_logo" src="{% static 'img/softworks_logo.jpg' %}"
    class="img-responsive" alt="Softworks Consultancy Logo"/>
  </div>
  <div class="col-sm-8">
<h2>We can help</h2>
    <p>Regardless of your testing needs, Softworks can help. With a wealth of experience
     across many various industries and testing practices we have the expertise to make your software a success.</p>

     <p>Softworks Consultancy possesses a high level of business and technical expertise acquired through 
     working at a multitude of companies across many industries and ranging in size from startup to blue chip. 
     Our consultants are skilled in several testing processes and tools to be able to provide expert guidance 
     on testing and test processes to our clients.</p>     
  </div>
</div>
 <div class="row">
   <h1 class="text-center">Request a Quote</h1>
</div>
  <hr>
<div class="row">
  <div class="col-sm-8">
    <form name="contactform">{{from.csrf_token}}
      <div class="row form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="fullName" ng-model="contact.name" placeholder="Full Name" required="">
        </div>
      </div>
      <div class="row form-group">
          <div class="col-sm-6">
          <input type="email" class="form-control" ng-model="contact.email" placeholder="Email" required="">
          </div>
          <div class="col-sm-6">
          <input type="tel" class="form-control" ng-model="contact.phone" placeholder="Phone" >
          </div>
      </div>
      <div class="row form-group">
          <div class="col-sm-12">
          <select type="select" placeholder="Service Interested In" class="form-control" ng-model="contact.servicetype" id="servicetype">
            <option value="" disabled selected style='color:#999!important;display:none'>Select Type of Serivce Required </option>
            <option>Agile Testing</option>
            <option>Automation</option>
            <option>Mobile Phone Testing</option>
            <option>Performance Testing</option>
            <option>Front-end Optimization</option>
            <option>Process Improvement</option>
            <option>Training / Mentoring</option>
            <option>Functional Testing</option>
            <option>Security Testing</option>
            <option>Custom Software Development</option>
          </select>
          </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <textarea type="message" class="form-control" rows="5" ng-model="contact.message" id="message" placeholder="Tell us your requirements" required></textarea>
      </div>
      </div>
      <div class="row form-group">

          <div class="col-sm-12">
            <button class="btn btn-default pull-right" ng-click="contactus()">Contact Us</button>
          </div>
        </div>
      <div class="row form-group">
        <div class="col-sm-12">
        <div ng-show="sent" class="alert alert-success fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            Thanks for contacting us.  Well get back to you as soon as possible.
        </div>
        </div>
      </div>
    </form> 
  </div>
  <div class="col-sm-3 pull-right">

      <address>
        <strong>Softworks Consultancy<br> Sdn Bhd (1000154-M)</strong><br>
          20, Lorong Bruas<br>
          Bukit Damansara <br>
          50490 Kuala Lumpur,<br>
          MALAYSIA<br>
          P: +6012 305 1396
      </address>
    
      <address>
        <strong>Email Us</strong><br>
        <a href="mailto:#">info@softworks.com.my</a>
      </address>          
  </div>
  
</div><!--/row-->
<hr />
<div class="row">
  <div id="map-canvas">
</div>

  <script type='text/javascript'>
  (function() {

    /* google maps */
    google.maps.visualRefresh = true;

    var map;
    function initialize() {
    var pos = new google.maps.LatLng(3.161559,101.659273)
    var mapOptions = {
      zoom: 15,
      center: pos, 
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
    var infowindow = new google.maps.InfoWindow({
      map: map,
      position: pos,
      content:"<b>Softworks Consultancy</b><br/>Home Office<br/>Kuala Lumpur" 
    });
    var marker = new google.maps.Marker({
      position: pos,
      map: map,
    });

      infowindow.open(map,marker);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

})();
 </script>
