<!DOCTYPE html>
{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <img id="softworks_logo" src="{% static 'img/softworks_logo.jpg' %}"
    class="img-responsive" alt="Softworks Consultancy Logo"/>
  </div>
  <div class="col-sm-8">
    <p class="lead">Ensure your application performs as expected in
    the real world.  If you need functional, automation, security or
    performance testing or help transitioning to agile practices
    and continuous integration we can help.  At Softworks we make
    software work.</p>
    <a  class="btn btn-large btn-success" href="#/contact">Request A Quote &raquo;</a>
  </div>
</div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <h2>Case Studies</h2>
      <p>We've done loads of testings. For heaps of clients.  From all over
      the place. Find out more about who we have worked with.</p>
      <p><a class="btn btn-primary" href="#/clients">Our Clients »</a></p>
    </div>
    <div class="col-sm-4">
      <h2>Expertise</h2>
      <p>We are happy to help with any software testing needs, especially mobile,
      automation, performance and continuous integration.<p><a class="btn
        btn-primary" href="#/services">Read More »</a></p>
    </div>
    <div class="col-sm-4">
      <h2>Giving Back</h2>
      <p>We don't just test software we code the tools we use for
      automation, and we give them away free! You can
      find them on <a href="https://github.com/rtomac/robotframework-selenium2library">github</a>.</p>
      <p><a class="btn btn-primary" href="#/services">View details »</a></p>
    </div>
  </div>
</div>

