<!DOCTYPE html>
{% load staticfiles %}

<div class="row">
  <div class="col-sm-4">
    <img id="softworks_logo" src="{% static 'img/softworks_logo.jpg' %}"
    class="img-responsive" alt="Softworks Consultancy Logo"/>
  </div>
  <div class="col-sm-8">
    <p>Regardless of your testing needs, Softworks can help. With a wealth of experience
    across many various industries and testing practices we have the expertise to make your software a success.</p>

    <p>Softworks Consultancy possesses a high level of business and technical expertise acquired through 
    working at a multitude of companies across many industries and ranging in size from startup to blue chip. 
    Our consultants are skilled in several testing processes and tools to be able to provide expert guidance 
    on testing and test processes to our clients.</p>     
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-dashboard service-icon"></i>
      <div class="desc">
        <h2>Agile Testing</h2>
        <p>We believe there is no cookie-cutter testing model.  Therefore we
        focus on Agile Testing, and our testing practices adhere to the Agile Manifesto.  
        Therefore we value people over process and focusing on results</p>
      </div>
    </div>
    <!--<p><a class="btn btn-primary" href="/services/agiletesting">View details »</a></p>
    -->
  </div>

  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-play-circle-o service-icon"></i>
      <div class="desc">
        <h2>Automation</h2>
        <p>At Softworks we understand automated testing and know that it is not just GUI automation. 
        GUI automation is often the most expensive type of automation there is. Thus we follow the 
        Agile Automation Testing Pyramid that shows where to start with automated testing. </p>
        <!--<p><a class="btn btn-primary" href="/services/automation">View details »</a></p>
    -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-mobile service-icon"></i>
      <div class="desc">
        <h2>Mobile Testing</h2>
        <p>Our mobile testing services can increase your speed to market, 
        improve overall product quality and reduce testing budgets. By testing on real mobile phones connected 
        to live global networks we can determine exactly how your application will work in a live environment, 
        eliminating the guess work. </p>
        <!--<p><a class="btn btn-primary" href="#">View details »</a></p>
    -->
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-line-chart service-icon"></i>
      <div class="desc">
        <h2>Performance Testing</h2>
        <p>Site not performing fast enough.  Not able to handle sudden spikes?  Are
        you paying for extra servers you don't need? Let
        us help you pin point bottlenecks and improve the performance of your site.
        </p>
        <!--<p><a class="btn
      btn-primary" href="#">Read More »</a></p>
    -->
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-check-square-o service-icon"></i>
      <div class="desc">
    <h2>Functional Testing</h2>
        <p>Need some just in time support to ensure sufficient testing is done
        before go live?  We can help by not only providing resources, but
        utilizing a risk based testing approach to ensure the most important
        testing is done before time runs out.</p>
        <!--<p><a class="btn btn-primary" href="#">View details »</a></p>
    -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-user-secret service-icon"></i>
      <div class="desc">
    <h2>Security Testing</h2>
        <p>Are your defenses strong enough?  Our Security Testing services help
        verify your servers are hardened against unwanted intruders and your
        web sites aren't vulnerable to attack.  Let us help you rest assured
        that your security is tight. </p>
        <!--<p><a class="btn btn-primary" href="#">View details »</a></p>
    -->
      </div>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-clock-o service-icon"></i>
      <div class="desc">
        <h2>Front-end Optimization</h2>
        <p>By evaluating things like CSS usage, image loading, page architecture, 
        javascript design, CDN’s, caching and many other aspects of a web page to ensure the page is downloaded
        and displayed at break-neck speeds. With the average web user attention span of roughly 10 seconds this 
        is critical in getting your customers onto your page and your message heard.</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-flask service-icon"></i>
      <div class="desc">
    <h2>Process Improvement</h2>
        <p>Softworks invests heavily in training our team on many different testing processes and practices so 
        that we can best advise our clients on how to improve their own internal testing and QA processes. 
        We believe that there is no one size fits all and thus focus on exploring with different techniques and 
        seeing which ones work best at a particular organization.
        </p>
        <!--<p><a class="btn btn-primary" href="#">Read More »</a></p>
    -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-graduation-cap service-icon"></i>
      <div class="desc">
        <h2>Training / Mentoring</h2>
        <p>Softworks is a leading provider of instructor led training and one on one mentoring.  
        As an official training partner for HP we offer classroom based training in all HP Testing
        products as well as customized classroom based training in other popular tools including: </p>
        <!--<p><a class="btn btn-primary" href="#">View details »</a></p>
    -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="service">
      <i class="fa fa-gears service-icon"></i>
      <div class="desc">
        <h2>Custom Development</h2>
        <p>Need a custom test harness, a scrapper, or a web / mobile app?  Who
        better to provide quality code then a company that focuses on quality.
        At Softworks we belive to be good developers we need to be good
        testers.  We practice what we preach when it comes to developing
        applicaitions and always follow agile testing practices, such as
        automated testing and continuous integration. This helps to ensure 
        we only deliver high quality applications in minimal time.
        </p>
        <!--<p><a class="btn btn-primary" href="#">View details »</a></p>
    -->
      </div>
    </div>
  </div>

</div>
